---
layout: default
---

<h1>Nerd Weekend {{ page.title }}</h1>

<p><b>Date:</b> {{page.date_range}}</p>
<p><b>Venue:</b> {{page.venue}}</p>

<h2>Games</h2>
<ul>
    {% if page.games == null %}
    <li>Hmm, no games. Too much beer...</li>
    {% endif %}

    {% for game in page.games %}
    <li>{{ game }}</li>
    {% endfor %}
</ul>

<h2>Memories</h2>
<ul>
    {% if page.memories == null %}
    <li>Hmm, no memories. Too much beer...</li>
    {% endif %}

    {% for memory in page.memories %}
    <li>{{ memory }}</li>
    {% endfor %}
</ul>

<!--
    Take the page path (something like _posts/2022-02-10-nerd-weekend.md)
    And substring to extract yyyy-mm.  Assign it to post_img_dir.
 -->
{% assign post_img_dir = page.path | slice: 7, 7 %}
<!-- Create a new flag post_img_exists = false -->
{% assign post_img_exists = false %}
<!-- Iterate all static files -->
{% for static_file in site.static_files %}
<!-- If the file contains the post_img_dir -->
{% if static_file.path contains post_img_dir %}
<!-- Set the flag post_img_exists to true -->
{% assign post_img_exists = true %}
{% endif %}
{% endfor %}

<!-- Only display "Photographic Evidence" section if images exist -->
{% if post_img_exists %}
<h2>Photographic Evidence</h2>
<div class="image-gallery">
    <!-- Iterate all static files -->
    {% for static_file in site.static_files %}
    <!-- If the file contains the post_img_dir -->
    {% if static_file.path contains post_img_dir %}
    <div class="box">
        <a href="{{ static_file.path }}">
            {% if static_file.name contains ".mov" %}
            <img src="/assets/img/movie_icon.png" alt="{{ static_file.name }}" class="img-gallery" />
            {% else %}
            <img src="{{ static_file.path }}" alt="{{ static_file.name }}" class="img-gallery" />
            {% endif %}
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<h2>Images take 2</h2>

<!--
    Take the page path (something like _posts/2022-02-10-nerd-weekend.md)
    And substring to extract yyyy-mm.  Assign it to post_date.
 -->
{% assign post_date = page.path | slice: 7, 7 %}
<h4>Post date {{ post_date }}</h4>

<!-- Filter all static files for only those where the path contains the this posts date -->
{% assign post_files = site.static_files | where:"path",post_date %}
<h4>Post files size {{ post_files.size }}</h4>
{{ post_files | json }}
<h4>Static files size {{ site.static_files.size }}</h4>
{% for static_file in site.static_files %}
<span>{{ static_file.path }}</span> - <span>{{ static_file.name }}</span>
{% endfor %}


{% if post_files.size > 0 %}
<h2>Photographic Evidence</h2>
<div class="image-gallery">
    <!-- For each image -->
    {% for static_file in post_files %}
    <div class="box">
        <a href="{{ static_file.path }}">
            {% if static_file.name contains ".MOV" %}
            <img src="/assets/img/movie_icon.png" alt="{{ static_file.name }}" class="img-gallery" />
            {% else %}
            <img src="{{ static_file.path }}" alt="{{ static_file.name }}" class="img-gallery" />
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}

<br /><br /><br />
<h3>Updates? Missing memories?</h3>
If you notice anything incorrect, or want to add memories/games/photos, please use this link to <a href="mailto:{{ site.email }}?subject=Update nerd site: {{ page.title }}">email me</a>.
{{content}}