---
layout: default
---

<h1>Nerd Weekend {{ page.title }}</h1>

<p><b>Date:</b> {{page.date_range}}</p>
<p><b>Venue:</b> {{page.venue}}</p>

<h2>Games</h2>
<ul>
    {% if page.games == null %}
    <li>Hmm, no games.  Too much beer...</li>
    {% endif %}

    {% for game in page.games %}
    <li>{{ game }}</li>
    {% endfor %}
</ul>

<h2>Memories</h2>
<ul>
    {% if page.memories == null %}
    <li>Hmm, no memories.  Too much beer...</li>
    {% endif %}

    {% for memory in page.memories %}
    <li>{{ memory }}</li>
    {% endfor %}
</ul>

{% if page.img_dir %}
<h2>Photographic Evidence</h2>
<div class ="image-gallery">
    {% for static_file in site.static_files %}
    {% if static_file.path contains page.img_dir %}
    <div class="box">
        <a href="{{ static_file.path }}">
            <img src="{{ static_file.path }} " alt="{{ static_file.name }}"  class="img-gallery" />
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
<br/><br/><br/>
<h3>Updates? Missing memories?</h3>
If you notice anything missing, please use <a href="mailto:{{ site.email }}?subject=Update nerd site: {{ page.title }}">this email link</a>
{{content}}
